<br>
<form method="POST" action="/users/<%=@user.id%>" >
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <p><label for="email">Email:</label>
  <input type="text" name="email" id="email">
  </p>
  
  <p><label for=password">Password:</label>
  <input type="password" name="password" id="password">
  </p>
 
           
  <input type="submit" value="Edit Account">

</form>