<form method="POST" action="/combos/<%=@combo.id%>" >
<input id="hidden" type="hidden" name="_method" value="PATCH">


<p><label for="name"> Name:</label>
<input type="text"  name="name" value=<%=@combo.name%> ></p>
 

  


 

 <input type="submit" value="Edit Combos">

 </form>