<h1><%= @combo.name %></h1>

<ol>
  <% @combo.moves.each do |move| %>
  <li><%= move.move_name %></li>
  <% end %>
  </ol>

  <form action="/combos/<%= @combo.id %>/moves" method="POST">
    <input type="text" name="move_name" />
    <input type="submit" value="Add Move">
  </form>