<%# <%= session[:user_id] %> 


<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>The Breakz App</h2>

    <div class="content">
      <p>Welcome to The Breakz App! </p>
    </div>
    <nav>
      <% if logged_in? %>
      <a href="/logout">Logout </a>
      <% else %>
      <a href="/register">Register </a>
      <a href ="/login">Login </a>
      <% end %>

    </nav>

    <div class="sidebar">
      <h3></h3>
      <ul>
        <li><b> </li>
        <li><b></li>
        <li><b></li>
        <li><b></li>
      </ul>
    </div>

  </div>
</div>
